[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
"flake8" = "*"
bumpversion = "*"
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
pytest-watch = "*"

[packages]
petname = "*"

[requires]
python_version = "3.5"
